body {
  background-color: rgb(61, 61, 61);
  padding-bottom: 15px;
}
#wrapper {
  float: left;
  padding: 15px;
  background-color: rgb(41, 40, 40);
  height: 91vh;
  width: 477px;
}

#folder-structure-diplay {
  padding: 25px 0 0 25px;
  background-color: rgb(41, 40, 40);
  color: aliceblue;
  height: 87vh;
  width: 450px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid rgb(94, 182, 255);
  margin-right: 0;
}
#editor {
  float: right;
  background-color: rgb(41, 40, 40);
  height: 90.7vh;
  width: 965px;
  margin-left: 0;
  padding: 15px;
}
#editor div {
  border: 1px solid rgb(94, 182, 255);
  height: 90.3vh;
}
input {
  opacity: 0;
}
ul li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 2px;
}
.click-range {
  display: inline;
  cursor: pointer;
}
.click-range:hover {
  color: rgb(174, 175, 174);
}

i {
  margin-right: 5px;
}
.fa-html5 {
  color: #e94848;
}
.fa-js {
  color: rgb(255, 234, 45);
}
.fa-css3-alt {
  color: rgb(94, 182, 255);
}
.rotate-down {
  transform: rotate(45deg);
}
.hover-sub:hover {
  color: rgb(174, 175, 174);
}
span {
  color: rgb(255, 234, 45);
}
